@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

main {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: hsl(0, 0%, 12%);
}

.card {
    background-color: hsl(60, 64%, 91%);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 12%);
    box-shadow: 10px 10px hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.card img {
    object-fit: contain;
    border-radius: 10px;
}

.category_label {
    padding: 10px 15px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
    width: max-content;
}

.published_on, .title, .author {
    font-size: 14px;
}

.title {
    font-weight: 850;
    font-size: 20px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.author img {
    width: 30px;
}

.attribution a {
    color: hsl(0, 0%, 12%);
    font-weight: 800;
}
